html, body {
    cursor: url('images/cursor-dachshund.png'), auto;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.english_block {
    position: relative;
    color: black;
}

.english_block::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('images/english_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: filter 0.2s;
}

.english_block:hover::before {
    filter: blur(5px);
}

.english_block:hover {
    cursor: url('images/cursor-dachshund-2.png'), auto;
}

.math_block {
    position: relative;
    color: black;
}

.math_block::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('images/math_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: filter 0.2s;
}

.math_block:hover::before {
    filter: blur(3px);
}

.math_block:hover {
    cursor: url('images/cursor-dachshund-2.png'), auto;
}

.english_block, .math_block {
    grid-column: span 3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.maintxt {
    position: relative;
    z-index: 1;
    border-radius: 30%;
    background-color: beige;
    font-size: 5rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .english_block, .math_block {
        grid-column: span auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .maintxt {
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
        justify-self: center;
    }
}