* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}

.header {
    background-color: aqua;
    grid-area: 1 / 1 / 2 / 13;
    display:flex;
}

.icon {
    width: 32px;
    height: 32px;
}

.heading {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}

.auth-links {
    display:flex;
}

.auth-link {
    text-decoration: none;
    color: black;
}